<a href="https://colab.research.google.com/github/VishwasSaini32/US-Retail/blob/master/US_Retail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_excel("mrtssales92-present.xls",sheet_name = None, skiprows= 3, header = 1)

In [63]:
df

{'1992':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2014102
 2           NaN  ...  1595709
 3           NaN  ...  1857778
 4           NaN  ...  1439385
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1993':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2153095
 2           NaN  ...  1680179
 3           NaN  ...  1990719
 4           NaN  ...  1517803
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1994':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2330235
 2           NaN  ...  1789094
 3           NaN  ...  2159013
 4           NaN  ...  1617872
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1995':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2450628
 2           NaN  ...  1870913
 3           NaN  ...  2269515
 4           NaN  ...  1689800
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1996':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2603794
 2           NaN  ...  1976287
 3           NaN  ...  2409369
 4           NaN  ...  1781862
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1997':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2726131
 2           NaN  ...  2072314
 3           NaN  ...  2526431
 4           NaN  ...  1872614
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1998':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  2852956
 2           NaN  ...  2164541
 3           NaN  ...  2661229
 4           NaN  ...  1972814
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '1999':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  3086990
 2           NaN  ...  2322786
 3           NaN  ...  2874466
 4           NaN  ...  2110262
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '2000':     NAICS  Code  ...    TOTAL
 0           NaN  ...      NaN
 1           NaN  ...  3287537
 2           NaN  ...  2491327
 3           NaN  ...  3037721
 4           NaN  ...  2241511
 ..          ...  ...      ...
 100         453  ...      NaN
 101         454  ...      NaN
 102        4541  ...      NaN
 103       45431  ...      NaN
 104         722  ...      NaN

 [105 rows x 15 columns], '2001':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  3378906.0
 2           NaN  ...  2563327.0
 3           NaN  ...  3127523.0
 4           NaN  ...  2311944.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2002':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  3459077.0
 2           NaN  ...  2640266.0
 3           NaN  ...  3208458.0
 4           NaN  ...  2389647.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2003':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  3612457.0
 2           NaN  ...  2770869.0
 3           NaN  ...  3337270.0
 4           NaN  ...  2495682.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2004':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  3846605.0
 2           NaN  ...  2980233.0
 3           NaN  ...  3522599.0
 4           NaN  ...  2656227.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2005':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4085746.0
 2           NaN  ...  3197439.0
 3           NaN  ...  3706823.0
 4           NaN  ...  2818516.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2006':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4294359.0
 2           NaN  ...  3394362.0
 3           NaN  ...  3872383.0
 4           NaN  ...  2972386.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2007':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4439733.0
 2           NaN  ...  3529594.0
 3           NaN  ...  3987911.0
 4           NaN  ...  3077772.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2008':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4391580.0
 2           NaN  ...  3605715.0
 3           NaN  ...  3887941.0
 4           NaN  ...  3102076.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2009':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4064476.0
 2           NaN  ...  3392704.0
 3           NaN  ...  3673242.0
 4           NaN  ...  3001470.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2010':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4284968.0
 2           NaN  ...  3542055.0
 3           NaN  ...  3836619.0
 4           NaN  ...  3093706.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2011':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4598302.0
 2           NaN  ...  3785364.0
 3           NaN  ...  4064845.0
 4           NaN  ...  3251907.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2012':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  4826390.0
 2           NaN  ...  3939896.0
 3           NaN  ...  4270971.0
 4           NaN  ...  3384477.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2013':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  5001763.0
 2           NaN  ...  4042469.0
 3           NaN  ...  4452150.0
 4           NaN  ...  3492856.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2014':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  5215656.0
 2           NaN  ...  4194805.0
 3           NaN  ...  4676866.0
 4           NaN  ...  3656015.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2015':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  5349487.0
 2           NaN  ...  4255375.0
 3           NaN  ...  4905460.0
 4           NaN  ...  3811348.0
 ..          ...  ...        ...
 100         453  ...        NaN
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN

 [105 rows x 15 columns], '2016':     NAICS  Code  ... Unnamed: 15
 0           NaN  ...         NaN
 1           NaN  ...         NaN
 2           NaN  ...         NaN
 3           NaN  ...         NaN
 4           NaN  ...         NaN
 ..          ...  ...         ...
 101         454  ...         NaN
 102        4541  ...         NaN
 103       45431  ...         NaN
 104         722  ...         NaN
 105         NaN  ...         NaN

 [106 rows x 16 columns], '2017':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  5744810.0
 2           NaN  ...  4572443.0
 3           NaN  ...  5285347.0
 4           NaN  ...  4112980.0
 ..          ...  ...        ...
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN
 105              ...        NaN

 [106 rows x 15 columns], '2018':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  6001623.0
 2           NaN  ...  4810302.0
 3           NaN  ...  5497698.0
 4           NaN  ...  4306377.0
 ..          ...  ...        ...
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN
 105              ...        NaN

 [106 rows x 15 columns], '2019':     NAICS  Code  ...      TOTAL
 0           NaN  ...        NaN
 1           NaN  ...  6218002.0
 2           NaN  ...  4980533.0
 3           NaN  ...  5716930.0
 4           NaN  ...  4479461.0
 ..          ...  ...        ...
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN
 105              ...        NaN

 [106 rows x 15 columns], '2020':     NAICS  Code  ...     PY CUM
 0           NaN  ...        NaN
 1           NaN  ...  1417491.0
 2           NaN  ...  1131523.0
 3           NaN  ...  1306568.0
 4           NaN  ...  1020600.0
 ..          ...  ...        ...
 101         454  ...        NaN
 102        4541  ...        NaN
 103       45431  ...        NaN
 104         722  ...        NaN
 105              ...        NaN

 [106 rows x 7 columns]}

#Extracting Main Categories

Since Data

In [64]:
df['1992']

    NAICS  Code  ...    TOTAL
0           NaN  ...      NaN
1           NaN  ...  2014102
2           NaN  ...  1595709
3           NaN  ...  1857778
4           NaN  ...  1439385
..          ...  ...      ...
100         453  ...      NaN
101         454  ...      NaN
102        4541  ...      NaN
103       45431  ...      NaN
104         722  ...      NaN

[105 rows x 15 columns]

In [0]:
for key in df:
    df_cat = df.copy()
    df_cat_ad = df.copy()
    df_cat[key]['NAICS  Code'] = df_cat[key]['NAICS  Code'].astype('str')
    df_cat[key]['NAICS Code Cat'] = df_cat[key]['NAICS  Code'].str.extract('^(\d{3})$')
    index = pd.Index(df_cat[key]['Kind of Business'])
    x = index.get_loc('ADJUSTED(2)')
    df_cat_ad[key]=df_cat[key].iloc[x:]
    df_cat_ad[key] = df_cat_ad[key].dropna(subset = ['NAICS Code Cat'])
    df_cat_ad[key] = df_cat_ad[key].reset_index(drop = True)
    df_cat[key]=df_cat[key].iloc[0:x]
    df_cat[key] = df_cat[key].dropna(subset = ['NAICS Code Cat'])
    df_cat[key] = df_cat[key].reset_index(drop = True)

In [77]:
df_cat['1992']

   NAICS  Code  ... NAICS Code Cat
0          441  ...            441
1          442  ...            442
2          443  ...            443
3          444  ...            444
4          445  ...            445
5          446  ...            446
6          447  ...            447
7          448  ...            448
8          451  ...            451
9          452  ...            452
10         453  ...            453
11         454  ...            454
12         722  ...            722

[13 rows x 16 columns]

In [78]:
df_cat_ad['1992']

   NAICS  Code  ... NAICS Code Cat
0          441  ...            441
1          442  ...            442
2          443  ...            443
3          444  ...            444
4          445  ...            445
5          446  ...            446
6          447  ...            447
7          448  ...            448
8          451  ...            451
9          452  ...            452
10         453  ...            453
11         454  ...            454
12         722  ...            722

[13 rows x 16 columns]